* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  background: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}

a:active {
  color: var(--primary-text-color);
}

h2 {
  color: var(--primary-text-color);
}

time {
  color: var(--primary-text-color);
}
