* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  background: var(--primary-background-color);
}

a {
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}

h2 {
  color: var(--primary-text-color);
}

time {
  color: var(--primary-text-color);
}
